# .NET Core build files
bin/
obj/

# ASP.NET Core
wwwroot/

# User-specific files
.vs/
.idea/
.vscode/


backend/BookCatalogManagement/BookCatalogManagement.sln

backend/BookCatalogManagement/BookCatalogManagement.*/.vs/
backend/BookCatalogManagement/BookCatalogManagement.*/bin/
backend/BookCatalogManagement/BookCatalogManagement.*/obj/

frontend/BookCatalogFrontend.sln
frontend/BookCatalogFrontend.bin
frontend/BookCatalogFrontend.obj